<html>
	<head>
		<title>Upload</title>

	<body>
		<div class='container'>
			<h1>Upload</h1><hr>
			    <form action="/login" method="post" >
					  <div class="input-group-prepend">
					  <span class="input-group-text" >Title</span>
					  </div>
					  <input type="text"  name="title" required>



					  <div class="input-group-prepend">
					  <span class="input-group-text">Description</span>
					  </div>
					  <input type="text"  name="description" >
						<br/>

						<br/>
						<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroupFileAddon01">Photo</span>
						</div>
						<div class="custom-file">
						&emsp;<input type="file" name="filetoupload"  accept="image/*">
						</div>
						<p>

					<input type="submit" value="Submit" >
				</form>
		</div>
	</body>
</html>
